.dd-popup-form-tasklist  .tasklist .item span.info {
    flex-grow: 1;
}
.dd-popup-form-tasklist  .tasklist .item span.prg {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding:3px;
    height: 25px;
}
.dd-popup-form-tasklist  .tasklist .item span.prg .cpt {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-right: 55px;
}
.dd-popup-form-tasklist  .tasklist .item span.prg .prg-bar {
    flex-grow: 1;
    width: 100%;
    min-height: 5px;
    background: #ef3232;
    padding:0;
}
.dd-popup-form-tasklist  .tasklist .item span.prg .prg-bar.inv {
    background: rgb(56, 135, 238);
}
.dd-popup-form-tasklist  .tasklist .item span.prg .prg-val {
    width: 1px;
    height: 100%;
    background: #ffe928;;
}
.dd-popup-form-tasklist  .tasklist .item span.prg .prg-bar.inv .prg-val {
    background: #ef3232;
}

.dd-popup-form-tasklist  .tasklist .item span.prg .countdown {
    position: relative;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    margin-top: -10px;
    padding: 0;
}
.dd-popup-form-tasklist  .tasklist .item span.prg .countdown .deadline-clock {
    color: #ef3232;
}