.dd-worklog-field {
    max-height: 400px;
    overflow-y: scroll;
}
.dd-worklog-field ul.days {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px white;
}
.dd-worklog-field ul.days li {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-top: solid 1px white;
    cursor: default;
}
.dd-worklog-field ul.days li.has-selected {
    cursor: col-resize;
}

.dd-worklog-field ul.days li label {
    width: 100px;
}

.dd-worklog-field ul.days li .period {
    height: 100%;
    min-width: 200px;
    flex-grow: 1;
    position: relative;
    background: repeating-linear-gradient(to right, var(--cl-btn-bg), var(--cl-btn-bg-lt) 4.166%, var(--cl-dark) 4.166%, var(--cl-dark-lt) 8.332%);
}

.dd-worklog-field ul.days li .period .log {
    position: absolute;
    height: 100%;
    background: var(--cl-yellow);
    min-width: 1px;
    cursor: move;
}
.dd-worklog-field.readonly ul.days li .period .log {
    cursor: default;
}
.dd-worklog-field ul.days li .period .log.selected
/*, .dd-worklog-field ul.days li .period .log:hover */{
    background: var(--cl-blue);
}
.dd-worklog-field ul.days li .period .log.selected.r-border {
    border-right: solid 1px var(--cl-red-lt);
}
.dd-worklog-field ul.days li .period .log.selected.l-border {
    border-left: solid 1px var(--cl-red-lt);
}
.dd-worklog-field ul.days li .period .log.virtual {
    background: var(--cl-blue);
    opacity: 0.6;
}
