.dd-popup-form {
  margin: auto;
  /*margin-top: 0;/*-400px;*/
  position: relative;
  box-sizing: content-box;
  border: 13px solid transparent;
  color: black;
  font-family: monospace;
  padding: 0;
  min-width: 300px;
  width: auto;
}
.dd-popup-form-contents {
  background: rgba(220, 49, 0, 0.6);
  padding: 25px 50px 15px;
  min-height: 50px;
}
h3.dd-form-caption {
  font-size: 1.17em;
  font-weight: bold;
  line-height: 45px;
  padding-left: 10px;
  background: var(--cl-dark-lt);
  color: white;
  margin: 0;
}
.dd-popup-close {
  position: absolute;
  box-sizing: border-box;
  width:25px;
  height:25px;
  top: 10px;
  right: 10px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: red;
  cursor: pointer;
  border: outset 3px;
  color: white;
}

.dd-popup-form-list .list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.dd-popup-form-list .list .item {
  display: flex;
  min-width: 400px;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: var(--cl-dark);
  border: solid 1px white;
  padding: 0 5px 0 5px;
  color: white;
  overflow-y: hidden;
  min-height: 50px;
}
.dd-popup-form-list .list .item.active {
  border: double 10px var(--cl-gray-mid);
  margin: -5px -5px 0 -5px;
  z-index: 10;
}
.dd-popup-form-list  .list .item span{
padding: 3px;
}
.dd-brd{
  border-image: 33 round;
}
.dd-popup-form.dd-form-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  position: fixed;
  max-width: 95%;
}
.dd-popup-form.dd-form-modal .dd-popup-form-contents {
  background: rgb(242, 152, 127);
  padding: 25px 50px 15px;
  min-height: 50px;
}
