body {
  background: #151414;
  color: white;
}
.dd-popup button {
  color: #a72e2e;
  width: 100%;
  font-weight: bold;
  border: outset #e9b30f;
  background: #e9b30f;
  margin: 0 3px;
  cursor: pointer;
}
.dd-popup button.inverted {
  color: #e9b30f;
  width: 100%;
  font-weight: bold;
  border: outset #a72e2e;
  background: #a72e2e;
  margin: 0 3px;
  cursor: pointer;
}
.dd-popup button.secondary {
  color: #b6b6b6;
  border: outset #283e5c;
  background: #283e5c;
}
.waiting-pan {
  background: #b6b6b6;
  color: #283e5c;
  padding: 3px;
}
.waiting-pan p {
  padding: 0 5px;
  min-width: 100px;
  text-align: left;
}
.dd-popup {
  min-width: 150px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.dd-popup .stats {
  margin: 8px 0;
}
.dd-popup .control {
  margin: 15px 0;
  display: flex;
  width: 100%;
  cursor: pointer;
}
.dd-popup span b {
  color: #ef3232;;
}
.dd-popup .main-buttons {
  display: inline-flex;
  width: 108%;
}
.dd-popup button.inverted.settings {
  width: 20%;
  font-size: 20px;
}